@font-face{
    font-family: roboto;
    src: url(police/Roboto-Regular.ttf) format("truetype");   
}

@font-face{
    font-family: shrikhand;
    src: url(police/Shrikhand-Regular.otf) format("truetype");   
}
* * {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} *
body{
    font-family: roboto;
}
img{
    object-fit: cover;
}
.logo{
   display: flex;
   justify-content: center;
   margin: 2%;
   align-items: center;
   width: 100%;
}
header {
    height: auto;
}
header img{
    width:47%;
    margin: auto 25% auto 20%;
}
.titre{
    display: flex;
    justify-content: space-between;
    border-radius: 45px 45px 0px 0px;
    padding-top: 18px;
    margin-bottom:-20px;
    position: relative;
    top: -46px;
    background-color:#f6f6f6 ;
}
.titre i{
    margin-right:37px;
    font-size: 23px;
    margin-top: 19px;
}
header i{
    font-size: x-large;
    padding: 2%;
    left: 11px;
}
.photo figure{
    height: 248px;
    min-width: 321px;
}
.photo img{  
    height: 100%;
    width:100%;
    border: 1px solid white;
}
.menu{
    background-color:#f6f6f6 ;
}
h1{
    margin-left: 23px;
    font-family: shrikhand;
    margin-top: 15px;
}
h2{
    margin-left:23px;
    border-bottom: 5px solid #99E2D0;  
    margin-bottom: 15px; 
    font-weight: 100;
}
.partie1{
    width: 59px;
}
.partie2{
    width: 44px;
}
.partie3{
    width: 52px;
}
.btn{
    background-color:white;
    border-radius: 15px 15px 10px 10px;
    min-width: 320px;
    margin: 0 15px;
    height: 67px;
    position: relative;
    margin-bottom: 15px;
}
.conteneur{
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-top:4px;
    
}
.ingredient{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.menu div h3{
    margin-left:15px;
    font-size: 17px;
    padding-top: 11px;
}
.btn div p{
    font-size: 15px;
}
.prix{
    margin-right: 16px;
    font-weight: bold;   
}
.commande{
    background: linear-gradient(to bottom,#FF79DA,#9356DC );
    border-radius: 5em 5em 5em 5em;
    margin: auto;
    width: 216px;
    height: 50px;
    margin-top: 45px;
}
.commande:hover{
    box-shadow: 0px 2px 7px 10px grey; 
    filter: opacity(0.5)
}
.commande p {
    padding-top: 15px;
    text-align: center;
    color: white;
    font-weight: bold;
}
.bloc{
    padding-bottom: 82px;

}
footer{
    background-color: #353535;
    
}
footer p{
    color:white;
    font-weight: 600;
}
.logo2{
    margin-left:25px;
    padding-top: 25px;
    width: 100%;
}
.logo2 img{
width: 33%;
}
.conteneur1{
    display: flex;
    margin-left:25px;
    margin-top: 20px;
}
.conteneur1 p{
    margin-top: 1px;
    margin-left:15px;
}
.conteneur2{
    display: flex;
    margin-left:25px;
    margin-top:13px;
}
.conteneur2 p{    
    margin-left:8px;
}
.conteneur3{
    margin-left:25px;
    padding-bottom: 35px;
    margin-top:13px;
}
.contact{
    margin-top: 14px;
}
footer  i{
color: white;
}
.btn .selection{
    width: 59px;
    height:100%;
    background-color:#99e2d0 ;
    position:absolute;
    border-radius: 0px 15px 15px 0px;
    bottom: 0;
    right: -60px;
    visibility: hidden;   
}
.selection i{
    color: white;
    font-size: x-large;
    margin-left: 18px;
    margin-top: 22px;   
} 
.entrees, .plats, .desserts{
    animation: fadein 2s;    
}
.entrees{
    animation-fill-mode: backwards; 
}
.plats{
    animation-delay:2s ;
    animation-fill-mode: both;
}
.desserts{
    animation-delay:3s;
    animation-fill-mode: both;
    margin-bottom: 15px;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.btn:hover .selection{   
    right:0;
    transition:right 1s ;
    visibility: visible;
    z-index: 1;
}
.btn:hover .prix{
    margin-right: 71px;
    transition:margin-right 800ms;
    margin-left: 7px;
}
.btn:hover i{
    transform:rotate(360deg);
    transition-duration: 1s;
}
.btn{
    cursor: pointer;
    overflow:hidden;
}
@media only screen and (min-width: 480px){
    footer{
        text-align: center;
    }
    .conteneur1{
        justify-content: center;
    }
    .conteneur2{
        justify-content: center;
    }
}
@media only screen and (min-width: 550px){
    .photo img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        height: 100%;
    }
    .photo figure{
        height:100%
    }
    .titre{
        justify-content: center;
        position: initial;
        padding-bottom: 45px;

    }
    .titre i{
        margin-left: 15px;
    }
    .menu{
        border-radius: 45px 45px;
    }
    h2{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .btn{
        max-width: 500px;
        margin: auto;
        margin-bottom: 15px;
    }

}
