* * {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} *

.loader-conteneur{
    position: fixed;
    top:0;
    left:0;
    z-index: 999;
    width: 100%;
    height:100vh;
    background-color: gainsboro;
    animation: loaderConteneur 0s 1s forwards;
    opacity: 0.9;
}
.loader{
    width: 80px;
    height: 80px;
    border: 5px solid gray;
    border-top: 5px solid beige;
    border-radius: 50%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) rotate(0deg);
    animation: loader 1s linear infinite;

}
    @keyframes loader {
       100%{
        transform: translate(-50%, -50%) rotate(360deg);
        }
    }
    @keyframes loaderConteneur {
        to{visibility: hidden;}
    }
.loader-conteneur img{
    width: 50%;
    display: block;
    margin: auto;
    position: relative;
    top: 29%;
}
@font-face{
    font-family: roboto;
    src: url(police/Roboto-Thin.ttf) format("truetype");   
}
@font-face{
    font-family: roboto2;
    src: url(police/Roboto-Regular.ttf) format("truetype");   
}
body{font-family: roboto;

}
    header{
    height: auto;
}
.logo{
   text-align: center;
   padding-top: 15px;
}
header img{
    width:50%;
}
.localisation{
    
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    padding-top:15px;
    padding-bottom: 15px;
}
.localisation p{
    font-weight: 900;
}
.localisation i{
    
    margin-right: 15px;
}
.decouverte{
    
    background-color: #f6f6f6;
    padding-bottom: 73px;
}   
h1{
    padding-bottom: 21px;
    padding-top: 30px;
    text-align: center;
    font-family: sans-serif;
}
h2{
    font-family: sans-serif;
}


.séléctions p{
    text-align: center;
}
.les-restaurants{
    background: linear-gradient(to bottom,#FF79DA,#9356DC );
    border-radius: 5em 5em 5em 5em;
    margin:0 auto;
    width: 216px;
    height: 50px;
    margin-top: 32px;
}
.les-restaurants:hover{
    box-shadow: 0px 2px 7px 10px grey; 
    filter: opacity(0.5) ;
}

.les-restaurants p{
   padding-top:15px;
    text-align: center;
    color: white;
    font-weight: bold;
}
.fonction{
    height: auto;
}
.fonction h2{
    padding-top: 50px;
    padding-bottom: 28px;
    text-align: center;
    margin-right: 184px;
    
}
.fonction .btn-fonction{
    border-radius: 1.7em 1.7em 1.7em 1.7em;
    margin:0 auto;
    width: 325px;
    margin-bottom:20px;
    height: 76px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.choix{
    background-color:#f6f6f6;
}
.menu{
    background-color: #f6f6f6;
}
.degustation{
    background-color: #f5edff;
    margin-bottom: 70px;
    
}
.fonction .selection{
    font-size: 15px;
    font-family:roboto2;
    font-weight: 600;
    margin-right: 84px;
    margin-left: 15px;
}
.btn-fonction div{
    position: relative;
    background-color: #9356dc;
    width: 22px;
    height: 22px;
    line-height: 23px;
    right:13px;
    border-radius: 12px 12px 12px 12px;
}
.btn-fonction div p{
    color:white;
    text-align:  center;
}
.Restaurants{
    background-color: rgb(249, 242, 242);
    height: 1200px;
    
}
.Restaurants h2{
    padding-top: 50px;
    padding-bottom: 15px;
    text-align: center;
    margin-right: 184px;
}
figure {
    position: relative;
    height: 176px;
    width: 330px;
    margin: auto;
    margin-bottom: 90px;
}
figure img{
    border-radius: 15px 15px 0px 0px;
    height: 100%;
    width:100%;
    border: 1px solid white;
}
img{
    object-fit: cover;
}
figcaption{
    z-index: 1;
    position: absolute;
    background-color: white;
    color: black;
    border-radius: 0px 0px 15px 15px;
    width: 100%;
    height: 75px;
    bottom: -70px;
    border:1px solid white;
}
figcaption div{
    display: flex;
}
h3{
    margin-left:15px;
    font-family:roboto2;
    margin-top: 15px;

}
figcaption p{
    margin-left:15px;
}
.Restaurants i {
    position: absolute;
    left:290px;
    top: 30px;
    
}
footer{
    background-color: #353535;

}
footer p{
    color:white;
    font-weight: 600;
}
.logo2{
    margin-left:25px;
    padding-top: 25px;
    width: 100%;
}
.logo2 img{
    width: 33%;

}
.conteneur1{
    display: flex;
    margin-left:25px;
    margin-top: 20px;
}
.conteneur1 p{
    margin-top: 1px;
    margin-left:15px;
}
.conteneur2{
    display: flex;
    margin-left:25px;
    margin-top: 13px;
}
.conteneur2 p{
    
    margin-left: 8px;
}
.conteneur3{
    margin-left:25px;
    margin-top: 13px;
}
.contact{
    margin-top: 14px;
    padding-bottom: 38px;
}
footer  i{
color: white;
}

.coeurV{
    opacity: 1;
    background-color: white;
}
.coeurV:hover{
   opacity: 0;
}
.coeurR{
    color:#b261dc;
}
@media only screen and (min-width: 480px){

footer{
    text-align: center;
}
.conteneur1{
    justify-content: center;
}
.conteneur2{
    justify-content: center;
}
}
@media only screen and (min-width: 1000px){
    h2{margin: auto;
    }

}