@font-face{
    font-family: roboto;
    src: url(police/Roboto-Thin.ttf) format("truetype");   
}
@font-face{
    font-family: roboto2;
    src: url(police/Roboto-Regular.ttf) format("truetype");   
}
@font-face{
    font-family: shrikhand;
    src: url(police/Shrikhand-Regular.otf) format("truetype");   
}

* * {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} *

body{
    font-family: roboto;
}
header{
    height: 64px;
}
img{
    object-fit: cover;
}
.logo{
   text-align: center;
   padding-top: 15px;
}

header img{
    width:50%;
}
.titre{
    display: flex;
    justify-content: space-between;
    border-radius: 45px 45px 0px 0px;
    padding-top: 18px;
    margin-bottom:-20px;
    position: relative;
    top: -46px;
    background-color:#f6f6f6 ;
}
.titre i{
    margin-right:37px;
    font-size: 23px;
    margin-top: 19px;
}
header i{
    position: relative;
    right: 55px;
    bottom: 6px;
    font-size: x-large;
}
.photo figure{
    height: 248px;
    min-width: 321px;
}

.photo img{
    
    height: 100%;
    width:100%;
    border: 1px solid white;
}
.menu{
    background-color:#f6f6f6 ;
}


h1{
    margin-left: 23px;
    font-family: shrikhand;
    margin-top: 15px;
}
h2{
    margin-left:23px;
    border-bottom: 5px solid #99E2D0;  
    margin-bottom: 15px; 
}

.partie1{
    width: 59px;
}
.partie2{
    width: 44px;
}
.partie3{
    width: 52px;
}


.btn{
    background-color:white;
    border-radius: 15px 15px 10px 10px;
    min-width: 320px;
    margin: 0 15px;
    height: 67px;
    position: relative;
    margin-bottom: 15px;
}
.conteneur{
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-top:4px;
    
}
.menu div h3{
    margin-left:15px;
    font-family: roboto2;
    font-size: 17px;
    padding-top: 11px;
}
.btn div p{
    font-weight: bold;
    font-size: 15px;
}
.prix{
    margin-right: 16px;
    font-family: roboto2;
}
.commande{
    background: linear-gradient(to bottom,#FF79DA,#9356DC );
    border-radius: 5em 5em 5em 5em;
    margin: auto;
    width: 216px;
    height: 50px;
    margin-top: 45px ;
}
.commande p {
    padding-top: 15px;
    text-align: center;
    color: white;
    font-weight: bold;
}
.bloc{
    padding-bottom: 82px;

}
footer{
    background-color: #353535;
    
}
footer p{
    color:white;
    font-weight: 600;
}
.logo2{
    margin-left:25px;
    padding-top: 25px;
}
.logo2 img{
width: 33%;

}
.conteneur1{
    display: flex;
    margin-left:25px;
    margin-top: 20px;
}
.conteneur1 p{
    margin-top: 1px;
    margin-left:15px;
}
.conteneur2{
    display: flex;
    margin-left:25px;
    margin-top:13px;
}
.conteneur2 p{
    
    margin-left:8px;
}
.conteneur3{
    margin-left:25px;
    padding-bottom: 35px;
    margin-top:13px;
}
.contact{
    margin-top: 14px;
}
footer  i{
color: white;
}

.btn .selection{
    width: 59px;
    height:100%;
    background-color:#99e2d0 ;
    position:absolute;
    border-radius: 0px 15px 15px 0px;
    bottom: 0;
    right: -60px;
    visibility: hidden;
}
.selection i{
    color: white;
    font-size: x-large;
    margin-left: 18px;
    margin-top: 22px;
    
} 
.entrees, .plats, .desserts{
    animation: fadein 2s;
    
}
.entrees{
    animation-fill-mode: backwards; 

}
.plats{
    animation-delay:2s ;
    animation-fill-mode: both;
}
.desserts{
    animation-delay:3s;
    animation-fill-mode: both;
    margin-bottom: 15px;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.btn:hover .selection{
    
    right:0;
    transition:right 1s ;
    visibility: visible;
  
}
.btn:hover .prix{
    margin-right: 76px;
    transition:margin-right 1s;
}

.btn:hover .reduction{
    display: none;
    transition: display 1s;
}
.points{
    visibility: hidden;
    position: absolute;
    left: 289px;
    visibility: hidden;
    
}

.btn:hover .points{
   visibility: visible;
  left: 219px;
    transition: left 1s;
}

.btn:hover i{
    transform:rotate(360deg);
    transition-duration: 1s;
}

